<html>
  <body>
    <a href="/new">new message</a>
    <% messages.forEach((message, index) => { %>
        <div>
            <h2>name : <%= message.user%></h2> 
        </div>
        <div>
            <h2>text : <%= message.text%></h2> 
        </div>
        <form action="/message/<%= index %>">
            <input type="submit" value="Open" />
        </form>
        <br>
        <hr>
        <% }) %>
  </body>
</html>
