<html>
  <body>
    <a href="/new">Add Message</a>
    <% Messages.forEach((message) => { %>
        <div>
            <h2>name : <%= message.author%></h2> 
        </div>
        <div>
            <h2>text : <%=  message.text%></h2> 
        </div>
        <br>
        <form action="/message/<%= message._id%>" method="get">
          <input type="submit" value="open">
        </form>
        <hr>
        <% }) %>
  </body>
</html>
